# Exercicio 2 - SELECT Basico
**AiDAPT - Cegid Academy**

Conceitos: SELECT, FROM, ORDER BY, DISTINCT, TOP

Base de dados: ExerciciosDB

In [ ]:
import os
from dotenv import load_dotenv, find_dotenv
from urllib.parse import quote_plus
from sqlalchemy import create_engine
load_dotenv(find_dotenv())

%load_ext sql

host = os.getenv('MSSQL_HOST', 'localhost')
port = os.getenv('MSSQL_PORT', '1433')
user = os.getenv('MSSQL_USER', 'sa')
password = quote_plus(os.getenv('MSSQL_PASSWORD', 'your_password_here'))
engine = create_engine(f"mssql+pymssql://{user}:{password}@{host}:{port}/ExerciciosDB")
%sql engine --alias ExerciciosDB

## 2.1 Liste todos os clientes

In [ ]:
%%sql
SELECT *
FROM dbo.Customers;

## 2.2 Liste FullName, Email, City

In [ ]:
%%sql
SELECT
    FullName,
    Email,
    City
FROM dbo.Customers;

## 2.3 Liste os produtos ordenados por Price DESC

In [ ]:
%%sql
SELECT *
FROM dbo.Products
ORDER BY Price DESC;

## 2.4 Liste as categorias distintas

In [ ]:
%%sql
SELECT DISTINCT Category
FROM dbo.Products;

## 2.5 Liste os 5 produtos mais caros (TOP 5)

In [ ]:
%%sql
SELECT TOP 5 *
FROM dbo.Products
ORDER BY Price DESC;

## Notas

- `SELECT *`: Seleciona todas as colunas
- `ORDER BY DESC`: Ordenacao decrescente
- `DISTINCT`: Remove duplicados
- `TOP N`: Limita o numero de resultados